<nav>
        <h1>Real Time Products</h1> 
</nav>


<div id="contenedorProductos"></div>

<h2> Formulario Agregar Productos</h2>

<form>
    <input type="text" id="title" placeholder="titulo">
    <input type="text" id="description" placeholder="descripcion">
    <input type="number" id="price" placeholder="precio">
    <input type="text" id="img" value="sin imagen">
    <input type="text" id="code" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">
    <input type="text" id="category" placeholder="categoria">
    <select id="status">
        <option value="true">activo</option>
        <option value="false">inactivo</option>
    </select>
    <button type="button" id="btnEnviar">enviar</button>
</form>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>